<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="parts/head :: head">
    <title>Login Page</title>
</head>
<body>

    <div class="container mt-5">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>

        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" th:method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>

        <a th:href= "@{/registration}">Add new user</a>
    </div>
</body>
</html>