<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="parts/head :: head">
    <title>Login Page</title>
</head>
<body>

<div class="container mt-5">
    <div class="alert alert-danger" role="alert" th:if="${param.error}">
        Invalid username or password.
    </div>

    <div class="alert alert-danger" role="alert" th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" th:method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">User Name :</label>
            <div class="col-sm-6">
                <input type="text" name="username" class="form-control" th:classappend="${param.error} ? 'is-invalid' : ''" placeholder="Username"/>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password :</label>
            <div class="col-sm-6">
                <div class="right-inner-addon">
                    <i id="icon" class="far fa-eye" aria-hidden="true" title="Show password"></i>
                    <input type="password" name="password" id="password" class="form-control" th:classappend="${param.error} ? 'is-invalid' : ''" placeholder="Password"/>
                    <script>
                        $("#icon").click(function () {
                            if ($("#password").attr("type") === "password") {
                                $("#password").attr("type", "text");
                                $("#icon").attr("class", "far fa-eye-slash").attr("title", "Hide password");
                            } else {
                                $("#password").attr("type", "password");
                                $("#icon").attr("class", "far fa-eye").attr("title", "Show password");
                            }
                        });
                    </script>
                    <style>
                        .right-inner-addon {
                            position: relative;
                        }

                        .right-inner-addon input {
                            padding-right: 30px;
                        }

                        .right-inner-addon i {
                            position: absolute;
                            right: 0px;
                            padding: 10px 12px;
                        }
                    </style>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Sign In</button>
        <a th:href="@{/registration}" class="btn btn-primary">Sign Up</a>
    </form>
</div>
</body>
</html>