<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="parts/head :: head">
    <title>Registration Page</title>
</head>
<body>
    <div class="container mt-5">
        <div th:utext="${message}"> </div>

        <form th:action="@{/registration}" th:method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Registration"/></div>
        </form>
    </div>
</body>
</html>