<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="parts/head :: head">
    <title> Main Page </title>
</head>
<body>
    <div th:insert="parts/navbar :: navbar"/>

    <div class="container mt-5">
        <div th:if="${session.SPRING_SECURITY_CONTEXT != null}">
            <h5 th:utext="${'Hello ' + session.SPRING_SECURITY_CONTEXT.authentication.principal.getUsername() + '!'}"></h5>
        </div>
        <div th:if="${session.SPRING_SECURITY_CONTEXT == null}">
            <h5 th:utext="${'Hello Guest!'}"></h5>
        </div>
        <p>This is simple clone of twitter</p>
    </div>
</body>
</html>