<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Editor</title>
</head>
<body>
<form th:action = "@{/user}" method="post">
    <input type="text" th:value="${user.username}" th:name="username">

    <div th:each="role : ${roles}">
        <label>
            <input th:utext="${role}" type="checkbox" th:value="${role}" th:field="*{user.roles}">
        </label>
    </div>

    <input type="text" th:value="${user.id}">
    <button type="submit">Save</button>
</form>

</body>
</html>
