<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="parts/head :: head">
    <title> Message Page </title>
</head>
<body>

<div th:insert="parts/navbar :: navbar"></div>
<div class="container mt-5">
    <div th:if="${!isCurrentUser}">
        <a class="btn btn-info" th:if="${isSubscriber}" th:href="@{'/user/unsubscribe/' + ${userChannel.id}}">Unsubscribe</a>
        <a class="btn btn-info" th:unless="${isSubscriber}" th:href="@{'/user/subscribe/' + ${userChannel.id}}">Subscribe</a>
    </div>
    <h3 th:text="${userChannel.username}"></h3>
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Subscriptions</div>
                        <h3 class="card-text">
                            <a th:href="@{'/user/subscriptions/' + ${userChannel.id} + '/list'}" th:text="${subscriptionsCount}"></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Subscribers</div>
                        <h3 class="card-text">
                            <a th:href="@{'/user/subscribers/' + ${userChannel.id} + '/list'}" th:text="${subscribersCount}"></a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="parts/messageList :: messageList"></div>

</div>
</body>
</html>