<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="messageList" class="card-columns">
    <div class="card my-3" th:each="message : ${messages}">

        <div th:if="${message.image != null}">
            <img class="card-img-top" th:src="@{'data:image/jpg;base64,'+ ${message.image}}">
        </div>

        <div class="m-2">
            <span th:utext="${message.text}"></span>
        </div>

        <div class="m-2" th:if="${message.fileDownloadUri != null}">
            <a th:href="${message.fileDownloadUri}">
                <span th:utext="${message.file.fileName}"></span>
            </a>
        </div>

        <div class="card-footer text-muted container">
            <a th:href="@{'/user-messages/'+ ${message.author.id}}">
                <span th:utext="${message.authorName}"></span>
            </a>
            <a class="col align-self-center" th:href="@{'/messages/' + ${message.id} + '/like'}">
                <i th:if="${message.meLiked}" class="fas fa-heart"></i>
                <i th:unless="${message.meLiked}" class="far fa-heart"></i>
                <a th:href="@{'/likes/' + ${message.id} + '/list'}">
                    <span th:text="${message.likes}"></span>
                </a>
            </a>
            <a  class="col align-self-right" th:value="${message.id}" th:if="${message.author.id} == ${session.SPRING_SECURITY_CONTEXT.authentication.principal.getId()}"
               th:href="@{'/user-messages/'+ ${message.author.id} +  '/'+ ${message.id}}">
                <i class="fas fa-pencil-alt" title="Click to edit this message"></i>
            </a>
        </div>
    </div>
</div>
</html>